<div class="mat-elevation-z8">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Currency</th>
      <th>Spot</th>
      <th>Increase / Decreas</th>
      <th>Chart</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of dataSource">
      <td>{{item.currency}}</td>
      <td>{{item.spot}}</td>
      <td><i class="{{item.increaseDecrease}}"></i></td>
      <td><a [routerLink]="['/history-chart-rates', base, item.currency]"><i class="fa fa-bar-chart"></i></a></td>
    </tr>
    </tbody>
  </table>
</div>
